
/* ALL PAGES */

.navbar{
    background-color: rgb(206, 206, 206);
    font-size: 23px;
}

.navbar-brand{
    font-size: 35px;
}

/* HERO PAGE */

#hero-bg{
    display:flex;
    height: 92vh;
    background-image: url("../pictures/hero-pic.jpg");
    background-size: cover;
}

#hero-text{
    display:block;
    margin:auto;
    text-align: center;
    color: rgb(233, 240, 255);
    text-shadow: 2px 2px 4px #001aff;
}

/* ABOUT PAGE*/

.carousel{
    width: 50%;
}

#about-bg{
    background-color: rgb(192, 221, 231);
}

/* EXPERIENCE PAGE */

#xc-experience{
    background-color: rgba(222, 184, 135, 0.455);
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

#track-experience{
    background-color: rgba(255, 68, 0, 0.353);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.card-deck{
    margin: 20px;
}

/* CONTACT PAGE */

#contact-bg{
    background-color: rgb(233, 240, 191);
}

#contact-info{
    text-align: center;
}
