
/* ALL PAGES */

body{
    background-color: rgb(199, 255, 255);
    border: solid black 5px;
    max-width: 98vw;
    max-height: 95vh;
}

.header{
    display: flex;
    height: 70px;
    border: solid 1px gray;
}

#header-text{
    margin-left: auto;
    margin-right: auto;
}

#home-button{
    height: 30px;
    margin-left: auto;
}

#bold{
    font-weight: bold;
}

/* HERO PAGE */

.link  :hover{
    color: rgba(169, 144, 0, 0.389);
}

#hero{
    display:flex;
}

#hero-text{
    display:block;
    margin:auto;
    text-align: center;
}

#label{
    font-weight: normal;
    font-style: italic;
}

#hero-pic{
    height: 95vh;
    align-self: flex-end;
}

/* ABOUT PAGE*/

#about-header{
    background-color: lightblue;
}

#about-text{
    display:flex;
    margin-left: 10px;
    text-align: left;
}

#about-pic{
    display:block;
    max-width: 30%;
}

/* EXPERIENCE PAGE */

#experience-header{
    background-color: rgb(134, 198, 154);
}

#experience-content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.experience-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#xc-experience{
    height: 75vh;
    border: 2px brown dotted;
}

#track-experience{
    height: 75vh;
    border: 2px black dotted;
}

/* CONTACT PAGE */

#contact-header{
    background-color: rgb(219, 140, 140);
}

#contact-info{
    text-align: center;
    font-size: 15px;
}
